@model OnlineTestingSystem.Models.Result

@{
    ViewBag.Title = "Results1";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Results1</h2>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplineID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalQuestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQuestions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectQuestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectQuestions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrongQuestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrongQuestions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
